

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 8rem;
    justify-self: center;
    width: 92vw;
    max-width: 1800px;
    background-color: rgba(var(--rgb-darker-blue), 0.95);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: var(--main-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

.navbar-container {
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
    align-items: center;
}

.navbar-logo {
    width: fit-content;
}

.navbar-img {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 4rem;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links a {
    color: var(--main-white);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.navbar-links a:hover {
    color: var(--bright-blue);
    text-decoration: underline;
}

.button-subscribe {
    padding: 1rem 2rem;
    background-color: var(--bright-blue);
    border-radius: 2rem;
}

.button-subscribe a {
    color: var(--main-white);
}

.button-subscribe a:hover {
    color: var(--soft-black);
}